body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 10px;
}

p {
    margin-top: 0;
}

.container {
    width: calc(42% - 40px); /* Two containers per row with spacing */
    height: 200px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Align text to the left */
    transition: transform 0.3s ease; /* Smooth transition on hover */
    cursor: pointer; /* Pointer cursor on hover */
    position: relative; /* Position relative for absolute positioning */
    overflow: hidden; /* Hide overflow to prevent shadows from appearing clipped */
    border: 2px solid #ddd; /* Border to create ticket effect */
    float: left; /* Float containers */
    clear: none; /* Ensure no clear by default */
}

.container:hover {
    transform: translateY(-5px); /* Lift container on hover */
}

.container h2 {
    margin-top: 0;
    font-size: 1.5rem; /* Larger font size for headings */
}

.container p {
    line-height: 1.6;
}

.portfolio-link {
    color: #007bff;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
