body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin:20px;
    text-align: center;
   
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Adjust spacing between containers */
    padding: 20px;
    gap: 20px; /* Space between containers */
}

.container {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(45% - 40px); /* Three containers per row */
    text-align: left;
    transition: transform 0.3s ease;
    cursor: pointer;
    border: 2px solid #ddd;
    margin-bottom: 20px; /* Space below each container */
}

.container:hover {
    transform: translateY(-5px);
}

.inner-content {
    max-height: 450px;
    overflow-y: auto;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    position: relative;
    bottom: 0;
    width: 100%;
}


/* Media Queries for Responsive Design */

@media (max-width: 768px) {
    .content {
        padding: 10px;
        flex-direction: column; /* Stack containers vertically on small screens */
    }

    .container {
        width: 100%; /* Full width on small screens */
    }
}
